# dependencies
node_modules

# build output
dist

# logs
*.log
npm-debug.log*

# editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# electron-builder 输出
release/
